.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f69100;
    padding: 0 10px;
    border-bottom: 5px solid #d27300;
  }

  .navbar-section {
    display: flex;
    align-items: center;
    
  }
  
  .links  {
    justify-content: left;
    flex-grow: 1;
  }
  
  .links  a {
    font-size: medium;
    color: white;
    text-align: center;
    padding: 24px 10px;
    text-decoration: none;
  }


  .links  a:hover {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
   
  }
  

  .Logo {
    width: 60px;
    height: 45px;
  }
  
  .ui.animated.button {
    background-color: transparent;
  }


  



  
  /* Footer.css */
  
  .ui.inverted.list .list>a.item>.icon, .ui.inverted.list>a.item>.icon {
    color: white;
    
  }
  
  .icon-twitter:hover .twitter.huge.links icon {
    color: #1DA1F2;
  }
  
  .icon-facebook:hover .facebook.huge.links icon {
    color: #3B5998;
  }
  
  .icon-instagram:hover .instagram.huge.links icon {
    background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .icon-youtube:hover .youtube.huge.links icon {
    color: #FF0000;
  }
  
  .ui.horizontal.inverted.list .item {
    transition: transform 0.3s ease; /* Aplica una transición suave de 0.3 segundos en la propiedad transform */
  }
  
  .ui.horizontal.inverted.list .item:hover {
    transform: translateY(-7px); /* Sube el ícono 5px cuando se hace hover */
  }
  
  
  